<div class="container-fluid">
	<% if logged_in? %>
		<%= render 'form', tweet: @tweet %>
	<% end %>
	<div class="row d-flex justify-content-center mb-2">
		<div class="col-12 col-sm-10 col-md-8 col-lg-7">
			<ul class="list-group mt-2">
				<% @tweets.each do |tweet| %>
					<li class="list-group-item">
						<div class="media">
							<div class="media align-self-start mr-3">
								<p class="image">
									<%= image_tag tweet.user.avatar.variant(combine_options:{resize:"64x64^",crop:"64x64+0+0",gravity: :center}).processed %>
								</p>
							</div>	
							<div class="media-body">
								<strong><%= link_to "#{tweet.user.username}", tweet.user %></strong>
								<p class="media"><%= tweet.tweet %></p>
								<% if logged_in? && current_user.id == tweet.user_id %>
									<%= link_to edit_tweet_path(tweet), class: "level-item" do %>
										<span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
									<% end %>
									<%= link_to tweet, method: :delete, data: { confirm: t('.confirm_delete') } do %>
										<span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
									<% end %>
								<% end %>
							</div>
						</div>
					</li>
				<% end %>
				<div class="pagination justify-content-end" >
					<%= paginate @tweets, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
	     	</div> 
			</ul>	 
		</div>
	</div>
</div>

