<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
  <% end %>

  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
        
          <div class="field">
              <%= form.label :username %><br />
              <%= form.text_field :username, autofocus: true, class: "form-control", required: true %>
          </div>

          <div class="field">
              <%= form.label :email %><br />
              <%= form.text_field :email, class: "form-control",required: true %>
          </div>

          <div class="field">
              <%= form.label :password %><br />
              <%= form.password_field :password, class: "form-control", required: true %>
          </div>

          <div class="field">
              <%= form.label :password_confirmation %><br />
              <%= form.password_field :password_confirmation, class: "form-control", required: true %><br /><br />
          </div>

          <div class="field">
              <%= form.label :avatar %><br />
              <%= form.file_field :avatar, class: "form-control" %><br /><br />
          </div>

          <div class="field">
              <%= form.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %><br />
          </div>
        </div><% end %>
      </div>
    </div>
  </div>
