<div class="container mt-2">
  <div class="row d-flex justify-content-center mb-2">
    <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-lg-3">
      <%= form_with(model: user, local: true) do |form| %>
        <% if user.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <h2 class="title text-center"><%= t('.register_title') %></h2><br />
        <div class="field">
          <%= form.label t('.username') %><br />
          <%= form.text_field :username, autofocus: true, class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.label t('.email') %><br />
          <%= form.text_field :email, class: "form-control",required: true %>
        </div>
        <div class="field">
          <%= form.label t('.password') %><br />
          <%= form.password_field :password, class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.label t('.password_confirmation') %><br />
          <%= form.password_field :password_confirmation, class: "form-control", required: true %><br />
        </div>
        <div class="field">
          <%= form.submit t('.sign_up_submit'), class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
