<div class="container-fluid mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
      <div class="page-header text-center mt-2">
        <h2><%= t('.user_title') %></h2><br />
      </div>
      <ul class="list-group">
        <% @users.each do |user| %>
        <li class="list-group-item">
          <%= link_to(user) do %>
          <div class="media">
            <div class="image mr-3">
              <%= image_tag user.avatar.variant(combine_options:{resize:"64x64^",crop:"64x64+0+0",gravity: :center}).processed %>
            </div>
            <div class="media-body align-self-center">
              <h4><%= user.username %></h4>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
        <div class="pagination justify-content-end" >
          <%= paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        </div>
      </ul>
    </div>
  </div>
</div>