<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Twitter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to t('.home'), root_path, class:"nav-link" %>
          </li>
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to t('.my_page'), current_user, class:"nav-link" %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to t('.users'), :users, class:"nav-link" %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <% if logged_in? %>
            <%= link_to t('.edit_profile'), edit_user_path(current_user.id), class:"btn btn-success mr-3" %>
            <%= link_to t('.logout'), logout_path, method: :delete, class:"btn btn-success" %>
          <% else %>
            <%= link_to t('.register'), new_user_path, class:"btn btn-success  mr-3" %>
            <%= link_to t('.login'), :login, class:"btn btn-success " %>
          <% end %>
        </form>
      </div>
    </nav>
    <div>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p id="notice"><%= flash[:notice] %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p id="alert"><%= flash[:alert] %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>

  <%= yield %>

  </body>
</html>